body {
  background-image: url("../../../img/girl_toho.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
#content {
  /* background-color: #FFFAF0; */
  border-radius: 10px;
}
h1 {
  background-color: white;
  color: black;
}
.buttons {
  background-color: white;
  color: black;
}
.hsButton {
    color: black;
}
#minitoc {
  display: none;
}
